<div class="content" role="main">

    <!-- Highlight Card -->
    <div class="card highlight-card card-small"> <!-- Template Statement -->
  
      <span>{{ title }}</span> <!-- Template Interpolation -->
    </div>
  
    <div> <!-- Structural Directive 1 -->
      <span>
        <button (click)="goToCart()">Kosaram</button>
        <button (click)="goToOrders()">Rendelések</button>
      </span>
    </div>
    <ul>
      <li *ngFor="let x of products">
        {{x.name}}: {{x.price}} Ft {{x.quantity}} db raktáron 
        <button (click)="toCart(x)">Kosárba</button>
      </li>
    </ul>
    <button (click)="logout()">Kijelentkezés</button>

  </div>

<!-- 
<div>
      <input type="text" [(ngModel)]="title">
      <a [routerLink]="['/login']">Logout</a>
  <ul>
    <li *ngFor="let x of example" (click)="helloFrom(x)">
      {{x}}
    </li>
  </ul>
  <input type="text" [(ngModel)]="title">
</div>
-->