<div class="content" role="main">

    <!-- Highlight Card -->
    <div class="card highlight-card card-small"> <!-- Template Statement -->
  
      <span>{{ title }}</span> <!-- Template Interpolation -->
    </div>
  
    <div *ngIf="title == 'Webshop'"> <!-- Structural Directive 1 -->
      <span>
        <button (click)="goToCart('user')">Kosaram</button> <!-- TODO: ez legyen dinamikus-->
      </span>
    </div>
    <ul>
      <li *ngFor="let x of products"> <!-- Structural Directive 2 -->
        {{x.name}}

        <button (click)="toCart(x)">Kosárba</button>
      </li>
    </ul>
    <button (click)="logout()">Kijelentkezés</button>

  </div>

<!-- 
<div>
      <input type="text" [(ngModel)]="title">
      <a [routerLink]="['/login']">Logout</a>
  <ul>
    <li *ngFor="let x of example" (click)="helloFrom(x)">
      {{x}}
    </li>
  </ul>
  <input type="text" [(ngModel)]="title">
</div>
-->