<div class="content" role="main">

    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
      <span>Rendeléseim</span>
    </div>

    <div>
      <span>
        <button (click)="goToList()">Vissza a Webshopra</button>
        <button (click)="goToCart()">Kosaram</button>
      </span>
    </div>

  
    <ul>

          <li *ngFor="let y of this.products">
              {{y.name}}: {{y.price}} Ft {{y.quantity}} db megrendelve
          </li>

    </ul>
    <button (click)="logout()">Kijelentkezés</button>


  </div>