<div class="content" role="main">

    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
      <span>Kosaram</span>
    </div>

    <div>
      <span>
        <button (click)="goToList()">Vissza a Webshopra</button>
        <button (click)="goToCart()">Rendeléseim</button>
      </span>
    </div>

  
    <ul>
        <div *ngFor="let x of carts">
            <li *ngFor="let y of x.products">
                {{y.name}}: {{y.price}} Ft {{y.quantity}} db megrendelve
            </li>
        </div>
      </ul>
      <button (click)="logout()">Kijelentkezés</button>


  </div>