<div class="content" role="main">

    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
  
      <span>Kosaram</span>
    </div>

    <div>
      <span>
        <button (click)="goToList()">Vissza a Webshopra</button>
        <button (click)="goToOrders()">Rendeléseim</button>
      </span>
    </div>

  
    <ul>
        <li *ngFor="let x of products"> <!-- Structural Directive 2 -->
          {{x.name}}
  
          <button (click)="delFromCart(x)">Törlés</button>
        </li>
      </ul>
      <button (click)="logout()">Kijelentkezés</button>


  </div>