<div class="content" role="main">

    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
      <span>Kosaram</span>
    </div>

    <div>
      <span>
        <button (click)="goToList()">Vissza a Webshopra</button>
        <button (click)="goToOrders()">Rendeléseim</button>
      </span>
    </div>
  
    <ul>
        <div *ngFor="let x of carts">
          <li *ngFor="let prod of x.product">
            {{prod.name}}: {{prod.price}} Ft - {{prod.quantity}} db 
            <button (click)="delFromCart(prod)">Törlés</button>
          </li>
        </div>
    </ul>
    <div>
      Összesen: {{sumToPay}} Ft
      <button (click)="buy()">Megrendelés</button>
      <button (click)="logout()">Kijelentkezés</button>  
    </div>

  </div>